[submodule "pack/plugins/start/ReplaceWithRegister"]
	path = pack/plugins/start/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister.git
[submodule "pack/plugins/start/auto-pairs"]
	path = pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/start/nerdtree-git-plugin"]
	path = pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/xuyuanp/nerdtree-git-plugin
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/vim-endwise"]
	path = pack/plugins/start/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/vim-signature"]
	path = pack/plugins/start/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/nvim-compe"]
	path = pack/plugins/start/nvim-compe
	url = git@github.com:hrsh7th/nvim-compe.git
[submodule "pack/plugins/start/nvim-lspconfig"]
	path = pack/plugins/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "pack/plugins/start/lsp_signature.nvim"]
	path = pack/plugins/start/lsp_signature.nvim
	url = git@github.com:ray-x/lsp_signature.nvim.git
[submodule "pack/plugins/start/vim-vsnip"]
	path = pack/plugins/start/vim-vsnip
	url = git@github.com:hrsh7th/vim-vsnip.git
[submodule "pack/plugins/start/friendly-snippets"]
	path = pack/plugins/start/friendly-snippets
	url = git@github.com:rafamadriz/friendly-snippets.git
	branch = main
[submodule "pack/plugins/start/plenary.nvim"]
	path = pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "pack/plugins/start/telescope.nvim"]
	path = pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/plugins/start/gruvbox-material"]
	path = pack/plugins/start/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material.git
[submodule "pack/plugins/start/vim-matchup"]
	path = pack/plugins/start/vim-matchup
	url = https://github.com/andymass/vim-matchup.git
[submodule "pack/plugins/start/nvim-ts-context-commentstring"]
	path = pack/plugins/start/nvim-ts-context-commentstring
	url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring.git
[submodule "pack/plugins/start/undotree"]
	path = pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree.git
